@charset "shift_jis";
/* ===================================================================
CSS information

 file name  :favorites.css
		for add-favorites.html
=================================================================== */
body {
	background-color: #ebf6fc;
	margin: 20px;
	line-height: 2;
}
h1 {
	font-size: 14px;
	font-weight: bold;
	background: url(../img_common/item/heart.gif) left 40% no-repeat;
	padding-left: 25px;
	margin-bottom: 1em;
}
input[type=text] {
	padding: 3px;
	border: 1px solid #1ba8f1;
}


.btnArea {
	clear: both;
	width: 80%;
	margin: 0 auto;
	border-top: 2px solid #d5d5d6;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-left: 2px solid #d5d5d6;
	background-color:#fff;
	text-align: center;
	padding: .5em 0;
}
.btnArea p {
	margin-bottom: 0;
}

