@charset "shift_jis";
/* ===================================================================
CSS information

 file name  :layout.admin.css
 
  theme color : #339966(accent),#76e4a6,#ffd
 
=================================================================== */
/* ===================================================
	#leftside 
		
		LOGO Border color
		
		#menu
			Background color
			Button Background image
			
			Calendar
 =================================================== */

#leftside h1 img {
	border-color: #339966;
}
/*#container {
	background: url(../img_common/item/menu_bk.guest.gif) left repeat-y;
}*/
#container.menu-back {
	background: url(../img_common/item/menu_bk.guest.gif) left repeat-y;
}

/*#menu {
	background-color: #76e4a6;
}*/

.jq-btn-home { background-image: url(../img_common/btn/guest/jq-btn-home.gif) ; }
.jq-btn-today { background-image: url(../img_common/btn/guest/jq-btn-today.gif) ; }
.jq-btn-search { background-image: url(../img_common/btn/guest/jq-btn-search.gif) ; }
.jq-btn-research { background-image: url(../img_common/btn/guest/jq-btn-research.gif) ; }
.jq-btn-preference { background-image: url(../img_common/btn/guest/jq-btn-preference.gif) ; }
.jq-btn-favorites { background-image: url(../img_common/btn/guest/jq-btn-favorites.gif) ; }
.jq-btn-logout { background-image: url(../img_common/btn/guest/jq-btn-logout.gif) ; }


#menu #flash_admin,
#menu #flash_user {
	display:none;
}
/* ===================================================

	#content 
		
 =================================================== */
#content h2 {
	color: #339966;
}
#content h3 { /* for Search title */
	background-color: #339966;
	border-bottom:2px solid #76e4a6;
}

/* ===================================================
	TABLE 
		body.general
 =================================================== */

table.col-tbl th {
	background-color: #339966;
	color: #fff;
	border: 1px solid #76e4a6;
	padding: 2px;
	text-align: center;
}
table.col-tbl tr td {
	border: 1px solid #76e4a6;
	padding: 1px;
	text-align: center;
}
table.col-tbl tr.column td {
	background-color: #ffd;
}





table.row-tbl th {
	background-color: #339966;
	color: #fff;
	border: 1px solid #76e4a6;
	padding: 2px;
	text-align: left;
}
table.row-tbl tr td {
	border: 1px solid #76e4a6;
	padding: 2px;
	padding-left: 10px;
	text-align: left;
}

table.img-tbl {
	background: url(../img_common/item/imgbk_top.jpg) top no-repeat;
	overflow: hidden;
	width: 408px;
	margin: 0;
	padding: 0;
}
table.img-tbl td {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}



div.imgnum {
	width: 90%;
	margin: 5px auto;
	background-color:#000;
	color:#fff;
}

/*
	SEARCH PANEL
---------------------------------------------------- */
.search-panel {
	background-color: #f9f9f9;
	margin-bottom: 20px;
}
.trim01 {
	border-left: 2px solid #339966;
	padding-left: 3px;
}
.selected-btn-search {
	color: #ffffff;
  background: url(../img_common/btn/guest/btn-bk0.jpg) repeat-x;
  text-decoration: none;
}



/* ===================================================
	 for User settings
 =================================================== */
table.u-set {
	margin-left: 15px;
	font-size: 16px;
}
table.u-set th {
	width: 353px;
	background: url(../img_common/item/arrow02.gif) left bottom no-repeat;
	width: 223px;
	height: 25px;
	font-weight: normal;
	padding-top: 30px;
}
table.u-set td {
	vertical-align: bottom;
}

div.setting input {
	float: right;
}


#content h3.ptn02 { /* for result */
	background-color: #fff;
	padding-left: 0;
	color: #000;
	letter-spacing: 0;
	border-bottom:2px solid #c9c9d7;
}
h3.ptn02 span {
	font-weight: normal;
}
ul.ul-ptn02 {
	margin: 20px 10px 10px 0;
	text-align: right;
	font-weight: bold;
}
ul.ul-ptn02 li {
	display: inline;
	margin-right: 15px;
}

/* ===================================================
	 BUTTON for search.html
 =================================================== */

a:link.btn-search,a:active.btn-search,a:visited.btn-search { 
	color: #000;
	background: url(../img_common/btn/guest/btn-bk1.jpg) repeat-x;
	text-decoration: none;
}
a:hover.btn-search { 
	color: #339966;
	background: url(../img_common/btn/guest/btn-bk2.jpg) repeat-x;
}
/* ===================================================
	 TAB
	 	Border color
	 	Background image
		Link style
		
			Detail PANEL color
 =================================================== */
.tab-content {
	border-color:#339966;
}
a:link.btn-tab,a:active.btn-tab,a:visited.btn-tab{
	color: #339966;
	background: url(../img_common/btn/guest/tab.gif) no-repeat;
}
 
a:hover.btn-tab {
	color: #fff;
	background: url(../img_common/btn/guest/tab0.gif) no-repeat;
}
p.add-favorite {
	border-color: #339966;
}

/*
	Detail PANEL
---------------------------------------------------- */
.detail-panel {
	background-color: #ffd;
}

/* ===================================================
   Only Guest
	 		
			Radio Button hidden
			DIV.sort-by
 =================================================== */
.hide-on-guest,
#admin-only {
	display: none;
}
#menu ul li.hide-on-guest {
	display: none;
}

/*.sort-by {
	float:left;
}*/

/* ----------------------------------
	FORM BUTTON
------------------------------------ */
input.form-btn {
	display:inline-block;
	cursor:pointer;
	border: 1px solid #06694c;
}

.form-btn-normal {
	color: #000;
	background-color: #76e4a6;
}
.form-btn-hover {
	color: #fff;
	background-color: #339966;
}
.form-btn-disabled {
	color: #ccc;
	background-color: #999;
}

/* ===================================================
	User preference (added by Y.Nomura 2010.04.03)
	
		h3
		h4
 ===================================================*/  
h4.upSec {
	color: #339966;
	font-weight: bold;
}
