@charset "shift_jis";

/* monochrome
-------------------------------- */
body.mono {
	background-color: #000;
	color: #fff;
}

body.mono .headerArea a {
	text-decoration: underline;
	color: #fff;
}
body.mono .tab-content {
	background-color: #000!important;
	color: #fff!important;
}
body.mono .detail-panel {
	background-color: #000 !important;
}
body.mono table.detail-tbl th,body.mono table.detail-tbl td {
	border-bottom-color: #fff !important;
}



body.mono table.col-tbl tr.column td {
	background-color: transparent;
}

