#cad-downloader-pane {
	margin: 1em 0;
}

/* Restrict max height if downloader is shown in main result page */
.cadResult #cad-file-manager .job-file-list {
	margin: 15px;
	max-height: 500px;
	overflow: auto;
}

.job-file-list {
	width: 480px;
	overflow: hidden;
	padding-top: 1px;
}

.job-file-list .job-file-entry {
	padding: 2px 10px;
	border: 1px solid silver;
	margin-top: -1px;
	cursor: pointer;
}

.job-file-list .job-file-entry:hover {
	background-color: #ddd;
}

.darkroom .job-file-list .job-file-entry:hover {
	background-color: #333;
}

.job-file-list .error {
	color: red;
	font-weight: bold;
}

.job-file-list .job-file-name {
	text-align: left;
	font-weight: bold;
}

.job-file-list .job-file-size {
	font-size: 80%;
	color: silver;
	margin-left: 2em;
	text-align: right;
}

.job-file-list .job-file-preview {
	text-align: center;
	padding: 3px;
}

.job-file-list .job-file-thumbnail {
	max-width: 300px;
	max-height: 300px;
}

.job-file-list .job-file-expanded {
	margin-top: 2px;
	margin-bottom: 2px;
	border-radius: 5px;
}

.job-file-list .job-file-preview textarea {
	height: 5em;
	width: 100%;
}

button.job-file-delete {
	position: absolute;
	width: 16px;
	height: 16px;
}