@charset "utf-8";
/* ===================================================================
CSS information

 file name  :darkroom.css

 2010.10.28 By Y.Nomura

=================================================================== */

.darkroom {
	background-color: #000;
	color: #fff;
}

.darkroom a {
	color: #fff;
}

.darkroom .detail-panel {
	background-color: #000 !important;
}
.darkroom table.detail-tbl th,body.mono table.detail-tbl td {
	border-bottom-color: #fff !important;
}

.darkroom table.col-tbl tr.column td {
	background-color: transparent;
}

.darkroom #container {
	background: black;
}

.darkroom #container h1 {
	background-color:#000;
}

.darkroom #menu p.user{
	border-top: 1px solid #fff;
	line-height: 2;
}

/* Darkroom toggle button */
#darkroom-pane {
	float: right;
}
#darkroom {
	background-color:#000; color:#fff; border: 1px solid gray;
}

.darkroom #darkroom {
	background-color:#fff; color:#000;
}