@charset "utf-8";

body {
	margin: 10px 0 0 0;
	color: #000;
	font-size: 12px;
}

a {
	text-decoration: underline;
	color: #000;
}

input[type=button] {
	font-family: verdana,"ＭＳ Ｐゴシック",sans-serif;
	padding: 0;
}
input.s-btn {
	font-size: 80%;
}


/* ===================================================
	Layout

	#page
		#container
			#leftside
			#content

 =================================================== */

/*
 	#page
---------------------------------------------------- */
#page {
	width: 1232px;
	margin: 0 auto;
}

/*
	#container
---------------------------------------------------- */
#container {
	width: 1232px;
	float: left;
}

/*
	#leftside
---------------------------------------------------- */
#leftside {
	width: 210px;
	float: left;
	margin-right: 20px;
	display:inline;
}

/*
	#content
---------------------------------------------------- */
#content {
	width: 1000px;
	float: left;
}

/* =================================================
	#leftside
		#menu
			calendar
==================================================== */
h1 {
	background-color:#fff;
	height: 70px;
}
h1 img {
	border: 2px solid #000;
}

#menu {
	width: 210px;
	text-align: center;
	padding: 7px 0;
}

#menu ul {
	padding:0;
	margin-bottom: 5px;
}
#menu ul li {
	width: 197px;
	display: block;
	margin: 0 auto;
	margin-bottom: 5px !important;
}
#menu p.user {
	width: 90%;
	border-top: 1px solid #000;
	margin: 0 auto;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	line-height: 2;
}

div.calendar {
	text-align:left;
	margin-left:18px;
	margin-top:8px;
}

/*
	menu buttons (rollover effect enabled by jQuery pluguin)
---------------------------------------------------- */

.jq-btn {
	display:block;
	cursor:pointer;
	border:0px none;
	background-color:transparent;
	background-repeat:repeat;
	padding:0;
	margin:0;
	outline:0;
	overflow:hidden;
}

.jq-btn-home,
.jq-btn-today,
.jq-btn-search,
.jq-btn-statistics,
.jq-btn-research,
.jq-btn-preference,
.jq-btn-favorites,
.jq-btn-administration,
.jq-btn-logout {
	width: 197px;
	height:49px;
}

/* =================================================
	Layout #content
		tabArea
		tab-content
		search-panel
			search-tbl
			serp
==================================================== */
#content h2 {
	clear: both;
	padding: 0 0 0 6px;
	line-height: 1.4;
	font-size: 120%;
	margin-bottom: 5px;
	border-left: 5px solid ;
}
body.spot #content h2 {
	margin-top: 45px;
}
#content h3 { /* for Search title */
	padding-left: 20px;
	color: #fff;
	letter-spacing: 2px;
}
#content h3.ptn02 { /* H3 pattern 2 */
	clear: both;
	background-color: #fff;
	padding-left: 0;
	color: #000;
	letter-spacing: 0;
	border-bottom:2px solid #c9c9d7;
	margin-bottom: 1em;
}
h3.ptn02 span {
	font-weight: normal;
}


/*
	tabArea
---------------------------------------------------- */
.tabArea {
	padding-top: 40px;
}
.tabArea ul {
	font-size: 14px;
	padding-left: 10px;
}
.tabArea ul li {
	float: left;
	margin-right: 3px;
	width: 150px;
	text-align: center;
	font-weight: bold;
	line-height: 1.8;
	overflow: hidden;
}
a:link.btn-tab,a:active.btn-tab,a:visited.btn-tab{
	display: block;
	text-decoration: none;
	width: 150px;
	height: 25px;
}
a:hover.btn-tab {
	display: block;
	text-decoration: none;
	width: 150px;
	height: 25px;
}

/*
	tab-content
---------------------------------------------------- */
.tab-content {
	clear: both;
	padding: 10px 20px;
	width: 960px;
	border: 1px solid;
}
* html .tab-content {
	width: 1000px;
}
/* Add favorite BUTTON */
p.add-favorite {
	float: right;
	border-width: 1px;
	border-style: solid;
}

/*
	SEARCH PANEL
---------------------------------------------------- */
.search-panel {
	background-color: #f9f9f9;
	margin-bottom: 20px;
}

table.search-tbl th, table.search-tbl td {
	border-bottom: 1px dotted #ccc;
}

/*
	SERP Search Engine Results Page
---------------------------------------------------- */
.serp,#serp-paging {
	border: 1px solid #CCC;
	height: 24px;
	background: url(../img_common/share/btn-bk1.jpg) repeat-x;
	margin-bottom: 10px;
	line-height: 2;
	padding-left: 1em;
}
#serp-paging div {
	display: inline;
	margin-right: 5px;
}
#serp-paging a:link,#serp-paging a:visited,#serp-paging a:active {
	color: #000;
	text-decoration: none;
}
#serp-paging a:hover {
	color: #FF0000;
	text-decoration: underline;
}

/* =================================================
	 Buttons for CAD Result Page
==================================================== */
/* Radio button (normal size) */
.radio-to-button {
	display:inline-block;
	cursor:pointer;
	border:0px none;
	background-color:transparent;
	background-repeat:repeat;
	padding:0 3px;
	margin:0 2px 0 0;
	outline:0;
	overflow:hidden;
	text-decoration: none;
	text-align: center;
	line-height: 1.8;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	height: 23px;
}
.radio-to-button-normal {
	background-position: 0 0;
}
.radio-to-button-hover {
	background-position: 0 -23px;
}
.radio-to-button-checked {
	background-position: 0 -46px;
}
.radio-to-button-disabled {
	background-position: 0 -69px;
}

/* Radio button (large size) */
.radio-to-button-l {
	display:block;
	cursor:pointer;
	border:0px none;
	background-color:transparent;
	background-repeat:repeat;
	padding:0;
	margin:0;
	outline:0;
	overflow:hidden;
	float: left;
	margin-right: 3px;
	text-decoration: none;
	text-align: center;
	line-height: 2;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
	height: 25px;
	width: 130px;
	background-image:url(../img_common/btn/admin/radio-to-button-l_white2.jpg);
}
.radio-to-button-l-normal {
	background-position: 0 0;
}
.radio-to-button-l-hover {
	background-position: 0 -25px;
}
.radio-to-button-l-checked {
	background-position: 0 -50px;
}
.radio-to-button-l-disabled {
	background-position: 0 -75px;
}

/* consensual extention */
.consensual .radio-to-button-normal{
	font-weight: bold;
}
.consensual .radio-to-button-hover{
	font-weight: bold;
}
.consensual .radio-to-button-checked{
	font-weight: bold;
}
.consensual .hide-on-consensual {
	display:none;
}
.personal .hide-on-personal {
	display:none;
}

/* "Registration of feedback" button */
input.registration {
	display:inline-block;
	cursor:pointer;
	padding: 5px 0;
	width: 200px;
}



/* =================================================
	PAGE TOP
==================================================== */

#content p.pagetop a:link,
#content p.pagetop a:visited,
#content p.pagetop a:active {
	background: url(../img_common/item/ico_arrow.gif) left 70% no-repeat;
	font-size: 90%;
	color: #0066cc;
	padding-left: 10px;
	text-decoration: none;
}

#content p.pagetop a:hover {
	background: url(../img_common/item/ico_arrow.gif) left 50% no-repeat;
	font-size: 90%;
	color: #0066cc;
	padding-left: 10px;
	text-decoration: underline;
}

.sort-by {
	clear: both;
	width: 830px;
	padding-top: 3px;
	/*text-align: right;*/
}

.sort-by div.total-cand
{
	width:435px;
	margin-left:15px;
	text-align:left;
	float:left;
	block:inline;
}

.sort-by div.sort-btn
{
	width:380px;
	float:left;
	text-align:right;
}

/* =================================================
	Tag (for series, CAD, research)
==================================================== */
#tagArea
{
	font-size: 90%;
}

#tagArea a:link,
#tagArea a:visited,
#tagArea a:active {
	color: #0066cc;
	text-decoration: none;
}
#tagArea a:hover {
	color: #0066cc;
	text-decoration: underline;
}

table.arrange-tbl {
	margin: 5px 0;
	table-layout: fixed;
}
table.arrange-tbl td {
	overflow: hidden;
	padding: 0 10px 5px 0;
}


div.setting input {
	float: right;
}



/* ===================================================
	 for Search.html
 =================================================== */
ul.inline {
	float: left;
	margin-bottom: 1em;
}
ul.inline li {
	display: inline;
	float: left;
	margin-right: 5px;
}

.btn {
	display: block;
	height: 24px;
	width: 100px;
	border: 1px solid #a4a4a4;
	text-align: center;
	line-height: 2;
}

/* ===================================================
	 for CAD result
 =================================================== */

.result-record-2cols {
	width:388px;
	float:left;
	margin:5px 20px 15px 0px;
	margin-left:0;
	padding: 1px 1px 3px 1px;
	border-color: #888;
	border-width: 1px;
	border-style: solid;
}

.result-record-3cols {
	width:260px;
	float:left;
	margin:5px 20px 15px 0px;
	margin-left:0;
	padding: 1px 1px 3px 1px;
	border-color: #888;
	border-width: 1px;
	border-style: solid;
}

.result-block {
	display: inline-block;
	margin: 5px;
	padding: 2px 2px 3px 2px;
	border: 1px solid #888;
}

.block-header {
	padding: 5px;
	line-height: 1.2em;
}

.remarkCand {
	border-color: #F00;
}

.cropped-image {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	background-color: black;
}

.lesion-image {
	position: absolute;
	z-index: 1;
}

.lesion-marker {
	position: absolute;
	z-index: 2;
}

.feedback-pane {
	margin-top: 2px;
	text-align: center;
}

#cad-detail-viewer-container {
	border: 1px solid #7f7f7f;
	padding: 7px;
	float: left;
	margin-right: 20px;
}

#cad-detail-table tr.emphasis td {
	background-color: gray;
	font-weight: bold;
}

/* ===================================================
	jQuery IMAGE VIEWER PLUGIN
 =================================================== */

.ui-imageviewer-image {
	position: relative;
}

.ui-imageviewer-slider {
	margin: 10px 7px 5px 7px;
}

.ui-imageviewer .ui-imageviewer-navi {
	width: 100%;
}

.ui-imageviewer .ui-imageviewer-navi td.updown {
	width: 24px;
	height: 24px;
	padding: 0;
}

.ui-imageviewer .ui-imageviewer-navi td.updown button {
	width: 24px;
	height: 24px;
}

.ui-imageviewer div.ui-imageviewer-location {
	font-weight: bold;
	text-align: center;
}

.ui-imageviewer div.ui-imageviewer-dot {
	position: absolute;
	width: 3px;
	height: 3px;
	background-color: magenta;
	z-index: 10;
}

.ui-imageviewer div.ui-imageviewer-dotlabel {
	position: absolute;
	color: magenta;
	z-index: 8;
}


/* ===================================================
	TABLE
 =================================================== */

table.col-tbl th {
	color: #fff;
	padding: 2px;
	text-align: center;
}
table.col-tbl tr td {
	padding: 1px;
	text-align: center;
}
table.col-tbl th a {
	color: #fff;
}
table.col-tbl td a {
	text-decoration: none;
	border-bottom: 1px dashed;
}

.trim01 {
	padding-left: 3px;
}

div.imgnum {
	width: 90%;
	margin: 5px auto;
	background-color:#000;
	color:#fff;
}
