@charset "utf-8";
/* ===================================================================
CSS information

 file name  :layout.general.css

 theme color : #66ccff(accent),#b4ebfa,#f5fafa

=================================================================== */

/* ===================================================
	#leftside
		LOGO Border color
		#menu
			Background color
			Button Background image
			Calendar
 =================================================== */

#leftside h1 img {
	border-color: #66ccff;
}

#container {
	background: url(../img_common/btn/user/menu_bk.gif) left repeat-y;
}

.topmenu { background-image: url(../img_common/btn/user/menu.png); }
.topmenu-today { color: #66ccff; }

/* ===================================================
	#content
 =================================================== */

#content h2 {
	color: #09f;
}
#content h3 {
	background-color: #66ccff;
	border-bottom:2px solid #b4ebfa;
}


/* ===================================================
	TABLE
 =================================================== */
table.col-tbl th {
	background-color: #66ccff;
	border: 1px solid #b4ebfa;
}
table.col-tbl tr td {
	border: 1px solid #b4ebfa;
}
table.col-tbl tr.column td {
	background-color: #f5fafa;
}
.trim01 {
	border-left: 2px solid #66ccff;
}


/* ===================================================
	 Toggle buttons for search.html
 =================================================== */

a:link.btn-search,a:active.btn-search,a:visited.btn-search {
	color: #000;
	background: url(../img_common/btn/user/btn-bk1.jpg) repeat-x;
	text-decoration: none;
}
a:hover.btn-search {
	color: #298dcc;
	background: url(../img_common/btn/user/btn-bk2.jpg) repeat-x;
}
.selected-btn-search {
	color: #ffffff;
	background: url(../img_common/btn/user/btn-bk0.jpg) repeat-x;
	text-decoration: none;
}


/* ===================================================
	 TAB
	 	Border color
	 	Background image
		Link style
			Detail PANEL color
==================================================== */
.tab-content {
	border-color:#66ccff;
}
a.btn-tab {
	color: #66ccff;
	background: url(../img_common/btn/user/tab.gif) no-repeat;
}
a:hover.btn-tab,a.btn-tab.btn-tab-active {
	color: #fff;
	background: url(../img_common/btn/user/tab0.gif) no-repeat;
}
p.add-favorite {
	border-color: #66ccff;
}

/*
	Detail PANEL
---------------------------------------------------- */
.detail-panel {
	background-color: #f5fafa;
}


/* ===================================================
	 Buttons for CAD Result Page
 =================================================== */
/* Radio button (normal size) */
.radio-to-button {
	background-image:url(../img_common/btn/user/radio-to-button_white2.jpg);
}
/* Radio button (large size) */
.radio-to-button.radio-to-button-l {
	background-image:url(../img_common/btn/user/radio-to-button-l_white2.jpg);
}

.radio-to-button-normal {
	color: #333 !important;
	border: 1px solid #333 !important;
}
.radio-to-button-hover {
	color: #69f !important;
	border: 1px solid #69f !important;
}
.radio-to-button-checked {
	color: #fff !important;
	border: 1px solid #0041ff !important;
}
.radio-to-button-disabled {
	color: #aaa !important;
	border: 1px solid #808080 !important;
}

.form-btn {
	border: 1px solid #0041ff;
	color: #000;
	background-color: #b4ebfa;
}
.form-btn:hover {
	color: #fff;
	background-color: #66ccff;
}
.form-btn[disabled] {
	color: #ccc;
	background-color: #999;
}


/* ===================================================
	General theme color
 ===================================================*/
.themeColor {
	color: #09F;
}
