@charset "utf-8";
/* ===================================================================
CSS information

 file name  :layout.admin.css

 theme color : #339966(accent),#76e4a6,#ffd

=================================================================== */

/* ==================================================
	#leftside
		LOGO Border color
		#menu
			Background color
			Button Background image
			Calendar
 =================================================== */

#leftside h1 img {
	border-color: #339966;
}

#container {
	background: url(../img_common/btn/guest/menu_bk.gif) left repeat-y;
}

.topmenu { background-image: url(../img_common/btn/guest/menu.png); }
.topmenu.hi { background-image: url(../img_common/btn/guest/menu-hi.png); }
.topmenu-today { color: #339966; }

/* ===================================================
	#content
 =================================================== */

#content h2 {
	color: #339966;
}
#content h3 {
	background-color: #339966;
	border-bottom:2px solid #76e4a6;
}


/* ===================================================
	TABLE
 =================================================== */
table.col-tbl th {
	background-color: #339966;
	border: 1px solid #76e4a6;
}
table.col-tbl tr td {
	border: 1px solid #76e4a6;
}
table.col-tbl tr.column td {
	background-color: #ffd;
}
.trim01 {
	border-left: 2px solid #339966;
}


/* ===================================================
	 Toggle buttons for search.html
 =================================================== */

a:link.btn-search,a:active.btn-search,a:visited.btn-search {
	color: #000;
	background: url(../img_common/btn/guest/btn-bk1.jpg) repeat-x;
	text-decoration: none;
}
a:hover.btn-search {
	color: #339966;
	background: url(../img_common/btn/guest/btn-bk2.jpg) repeat-x;
}
.selected-btn-search {
	color: #ffffff;
	background: url(../img_common/btn/guest/btn-bk0.jpg) repeat-x;
	text-decoration: none;
}


/* ===================================================
	 TAB
	 	Border color
	 	Background image
		Link style
			Detail PANEL color
 =================================================== */
.tab-content {
	border-color:#339966;
}
a.btn-tab {
	color: #339966;
	background: url(../img_common/btn/guest/tab.gif) no-repeat;
}
a:hover.btn-tab,a.btn-tab.btn-tab-active {
	color: #fff;
	background: url(../img_common/btn/guest/tab0.gif) no-repeat;
}
p.add-favorite {
	border-color: #339966;
}

/*
	Detail PANEL
---------------------------------------------------- */
.detail-panel {
	background-color: #ffd;
}


/* ===================================================
	 Buttons for CAD Result Page
 =================================================== */
/* Radio button (normal size) */
.radio-to-button {
	background-image:url(../img_common/btn/guest/radio-to-button_white2.jpg);
}
/* Radio button (large size) */
.radio-to-button.radio-to-button-l {
	background-image:url(../img_common/btn/guest/radio-to-button-l_white2.jpg);
}

.radio-to-button-normal {
	color: #333 !important;
	border: 1px solid #333 !important;
}
.radio-to-button-hover {
	color: #396 !important;
	border: 1px solid #396 !important;
}
.radio-to-button-checked {
	color: #fff !important;
	border: 1px solid #06694c !important;
}
.radio-to-button-disabled {
	color: #aaa !important;
	border: 1px solid #808080 !important;
}

.form-btn {
	border: 1px solid #06694c;
	color: #000;
	background-color: #76e4a6;
}
.form-btn:hover {
	color: #fff;
	background-color: #339966;
}
.form-btn[disabled] {
	color: #ccc;
	background-color: #999;
}


/* ===================================================
	General theme color
 ===================================================*/
.themeColor {
	color: #339966;
}
