@charset "utf-8";
/* ===================================================================
CSS information

 file name  :layout.admin.css

 theme color : #339966(accent),#76e4a6,#ffd

=================================================================== */

/* ===================================================
	#leftside
		LOGO Border color
		#menu
			Background color
			Button Background image
			Calendar
 =================================================== */

#leftside h1 img {
	border-color: #339966;
}

#container {
	background: url(../img_common/btn/guest/menu_bk.gif) left repeat-y;
}

.jq-btn-home { background-image: url(../img_common/btn/guest/jq-btn-home.gif) ; }
#menu .jq-btn-today {
	background-image: url(../img_common/btn/guest/jq-btn-today.gif) ;
	color: #339966;
}
.jq-btn-search { background-image: url(../img_common/btn/guest/jq-btn-search.gif) ; }
.jq-btn-statistics { background-image: url(../img_common/btn/guest/jq-btn-statistics.gif) ; }
.jq-btn-research { background-image: url(../img_common/btn/guest/jq-btn-research.gif) ; }
.jq-btn-preference { background-image: url(../img_common/btn/guest/jq-btn-preference.gif) ; }
.jq-btn-favorites { background-image: url(../img_common/btn/guest/jq-btn-favorites.gif) ; }
.jq-btn-logout { background-image: url(../img_common/btn/guest/jq-btn-logout.gif) ; }




/* ===================================================
	#content
 =================================================== */

#content h2 {
	color: #339966;
}
#content h3 {
	background-color: #339966;
	border-bottom:2px solid #76e4a6;
}


/* ===================================================
	TABLE
 =================================================== */
table.col-tbl th {
	background-color: #339966;
	border: 1px solid #76e4a6;
}
table.col-tbl tr td {
	border: 1px solid #76e4a6;
}
table.col-tbl tr.column td {
	background-color: #ffd;
}
.trim01 {
	border-left: 2px solid #339966;
}


/* ===================================================
	 Toggle buttons for search.html
 =================================================== */

a:link.btn-search,a:active.btn-search,a:visited.btn-search {
	color: #000;
	background: url(../img_common/btn/guest/btn-bk1.jpg) repeat-x;
	text-decoration: none;
}
a:hover.btn-search {
	color: #339966;
	background: url(../img_common/btn/guest/btn-bk2.jpg) repeat-x;
}
.selected-btn-search {
	color: #ffffff;
	background: url(../img_common/btn/guest/btn-bk0.jpg) repeat-x;
	text-decoration: none;
}


/* ===================================================
	 TAB
	 	Border color
	 	Background image
		Link style
			Detail PANEL color
 =================================================== */
.tab-content {
	border-color:#339966;
}
a:link.btn-tab,a:active.btn-tab,a:visited.btn-tab{
	color: #339966;
	background: url(../img_common/btn/guest/tab.gif) no-repeat;
}
a:hover.btn-tab,a.btn-tab.btn-tab-active {
	color: #fff;
	background: url(../img_common/btn/guest/tab0.gif) no-repeat;
}
p.add-favorite {
	border-color: #339966;
}

/*
	Detail PANEL
---------------------------------------------------- */
.detail-panel {
	background-color: #ffd;
}


/* ===================================================
   Only Guest
			Radio Button hidden
			DIV.sort-by
 =================================================== */
.hide-on-guest,
#admin-only {
	display: none;
}
#menu ul li.hide-on-guest {
	display: none;
}


.form-btn {
	border: 1px solid #06694c;
}

.form-btn-normal {
	color: #000;
	background-color: #76e4a6;
}
.form-btn-hover {
	color: #fff;
	background-color: #339966;
}
.form-btn-disabled {
	color: #ccc;
	background-color: #999;
}


/* ===================================================
	General theme color
 ===================================================*/
.themeColor {
	color: #339966;
}
