@charset "utf-8";
/* ===================================================================
CSS information

 file name  :popup.css

=================================================================== */


/* =================================================
	DETAIL

		.headerArea

		#detailArea
			Image .series-detail-img
			Div .detail-panel
				Table .detail-tbl

==================================================== */
/*
	headerArea
---------------------------------------------------- */
.headerArea {
	clear: both;
	width: 100%;
	float: left;
	margin-bottom: 5px;
	font-size: 110%;
}
/*
	detailArea
---------------------------------------------------- */
#detailArea {
	clear: both;
	width: 100%;
	float: left;
	margin-bottom: 20px;
}
/*
	IMAGE series-detail-img
---------------------------------------------------- */
.series-detail-img {
	float: left;
	padding: 5px;
	border: 1px solid #7f7f7f;
	margin-right: 20px;
}

/*
	Detail PANEL
---------------------------------------------------- */
.detail-panel {
	float: left;
	padding: 10px 20px;
}

/* Detail TABLE */
table.detail-tbl {
}
table.detail-tbl th {
	border-bottom: 1px dotted #ccc;
	padding: 3px 2px;
}
table.detail-tbl td {
	border-bottom: 1px dotted #ccc;
	padding: 3px 2px;
}
.btnArea {
	clear: both;
	width: 100%;
	margin: 1em auto 2em;
/*	border-top: 2px solid #d5d5d6;
	border-right: 1px solid #eaeaea;
	border-bottom: 1px solid #eaeaea;
	border-left: 2px solid #d5d5d6;
	background-color:#f1f1f1; */      /* modefied by Y.Nomura 2010.04.01 */
	border-top: 1px solid #ffffff;
	border-right: 1px solid #ffffff;
	border-bottom: 1px solid #fffff;
	border-left: 2px solid #ffffff;
	background-color:#fff;
	text-align: center;
	padding: .5em 0;
}
.btnArea p {
	margin-bottom: 0;
}

/* ===================================================
	User preference
	(move to mode.xxx.css by Y.Nomura 2010.04.03)
		h3
		h4
 =================================================== */
/*h4.upSec {
	color: #09f;
	font-weight: bold;
}*/

/* ===================================================
	Favorites

		tree
 =================================================== */
.tree1 {

}
.tree2 {
	text-indent: 20px;
}

