.feedback-pane input.evaluation-text {
	width: 100%;
	margin: 0;
	padding: 0;
	border: none;
	font-size: x-large;
}

.feedback-pane div.evaluation-text-container {
	border: 1px solid silver;
	padding: 0;
	margin: 5px 2px;
}

.feedback-pane input.evaluation-error {
	color: red;
	background-color: #fdd;
}

body.darkroom .feedback-pane input.evaluation-text {
	background-color: black;
	color: white;
}

body.darkroom .feedback-pane input.evaluation-error {
	background-color: #500;
}